img{
	width: 350px;
  border-radius: 50%;

	
	

}

body {background-color: lightblue;
font-family: Arial;
font-size: 18px;


}

h1 { font-size: 72px;
  text-align: center;
font-family: Lato
}


h2{ font-size: 50px;}


